<html>
  <head>
    <meta charset="utf-8">
    <title>Jenkins Bitbucket Pull Request Approver</title>
    <link rel="stylesheet" href="style.css">
    <style>
      #jenkins_template {
        max-width: 940px;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div class="container row-2 thin">
      <h1>Jenkins Bitbucket Pull Request Approver</h1>
      <div class="row-1">
        <h3>Setup Jenkins</h3>
        <p>
        To use this service, add a <strong>post_build</strong> command to your
        Jenkins job!
        </p>

        <fieldset>
          <legend>Jenkins post build cURL command</legend>
          <div class="row">
            <pre id="jenkins_template"></pre>
          </div>
        </fieldset>
      </div>

      <div class="row-1">
        <h3>Setup Bitbucket</h3>
        <p>
        You need to add a <strong>POST Pull Request</strong> hook, with the following url:
        </p>
        <pre><script>document.write(window.location.toString());</script>bitbucket/post_pull_request</pre>
        <a href="#" onclick="createHook()">
          Click here to create this hook
        </a>
      </div>

    </div>

    <script>
      var elements = document.querySelectorAll('input'),

          template = function(user, repo) {
            return 'curl "' + window.location + 'jenkins/post_build?' +
                  'branch=$GIT_BRANCH' +
                  '&sha=$SHA' +
                  '&job_name=$JOB_NAME' +
                  '&job_number=$BUILD_NUMBER"'
          },

          updateTemplate = function(user, repo) {
            document.querySelectorAll('#jenkins_template')[0].innerHTML = template(user, repo);
          };

       window.createHook = function(e) {
            var user = document.querySelectorAll('input[name=user]')[0].value,
                repo = document.querySelectorAll('input[name=repo]')[0].value,
                jenkins_url = window.location.toString() + "bitbucket/post_pull_request",
                bt_url = "https://bitbucket.org/" + user + "/" + repo + "/admin/services?service=Pull%20Request%20POST&url=" + jenkins_url + "&create%2Fedit%2Fmerge%2Fdecline=on&comments=on&approve%2Funapprove=on",
                win = window.open(bt_url, '_blank');
            win.focus();
            e.preventDefault();
          };

      Array.prototype.forEach.call(elements, function(el, i){
        el.addEventListener('keyup', function(){
          var user = document.querySelectorAll('input[name=user]')[0].value;
          var repo = document.querySelectorAll('input[name=repo]')[0].value;
          updateTemplate(user, repo)
        });
      });
      updateTemplate('username', 'repository');
    </script>
  </body>
</html>

